
@model IEnumerable<CategoryModel>

@{
    ViewData["Title"] = "Kategoriler";
}
<h2>Kategori Listesi</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Renk</th>
            <th>İkon</th>
            <th>Oluşturulma Tarihi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <span style="display:inline-block;width:20px;height:20px;background-color:@category.Color;"></span>
                </td>
                <td><i class="@category.IconCssClass"></i></td>
                <td>@category.CreatedAt.ToString("yyyy-MM-dd HH:mm")</td>
                <td>
                    @* <a href="@Url.Action("Edit", "Category", new { id = category.Id })" class="btn btn-warning btn-sm">Düzenle</a> *@
                    <a asp-action="Edit" asp-controller="Category" asp-route-categoryId="@category.Id"  class="btn btn-warning btn-sm">Düzenle</a>
                    <a asp-action="Delete" asp-controller="Category" asp-route-categoryId="@category.Id" class="btn btn-danger btn-sm" onclick="return confirm('Bu kategoriyi silmek istediğinizden emin misiniz?');">Sil</a>
                    @* <a href="@Url.Action("Delete", "Category", new { id = category.Id })" class="btn btn-danger btn-sm" onclick="return confirm('Bu kategoriyi silmek istediğinizden emin misiniz?');">Sil</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Category")" class="btn btn-primary">Yeni Kategori Ekle</a>